html,
body {
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    background-color: rgb(9, 16, 24);
    display : flex;
    position: relative;

}

#blur{
    width: 100%;
    height:100%;
    backdrop-filter: blur(5px) ;
    display : flex;
}
#maincontainer {
    display: grid;
    grid-template-columns: auto auto;

    width: 100vw;
    height: 100vh;
    margin: auto auto auto auto;
}

#rightcontainer {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 90vh;
    width: 90vw;
    
    
}

#leftcontainer {
    text-align: right;
    display: grid;
    height: 100%;
    width: 10vw;
    background-size: cover;
    background-position: center;
    transition : background-color 0.5s;
    z-index: 3;
}



#leftinfos {
    margin-bottom: auto;
    margin-top: 5vh;
    margin-left: max(4vw,10px);

    width: max-content;
    height: max-content;
}

 #rightconainter a {
     width: max-content;
 }
#leftcontainer img {
    
    width: min(20vw,256px);
    border-radius: 5px;
}

#leftcontainer h1{

    height: max-content;
}


#rightcontainer h3 {
    padding: 5px;
    width: max-content;
}



.card-header {
    padding-bottom:0;
}
.card-body {
    padding-top : 5px;
}
.card {
    border: solid 0px black;
}
#perso {
    height:max-content;
    margin-top: auto;
    padding-bottom: 0px; 
    padding-top: 1px;
    background-color: rgba(0,0,0,0.5);
    font-size: min(3vw,16px);
}
#perso h4 {
    font-size: min(3vw,20px);
}
#titleanime {
    padding: 5px;
    max-width: min(20vw,256px);
    word-wrap:normal;
    text-shadow: 0px 0px 5px #000000;
}
#note {
    display: flex;
}
#footer {
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    background-color: rgb(10,10,10);
    width: 90vw;
    margin-left: 10vw;
    padding-top: 10px;


    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.note{
    height: max-content;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    filter: brightness(50%);
    margin-left: auto;
    margin-right: auto;
}
.red {
    background-color:red;
    color: darkred;
}
.orange {
    background-color: orange;
    color: darkorange;
}
.yellow {
    background-color: yellow;
    color: orange;
}
.green {
    background-color: green;
    color: darkgreen;
}
.blue {
    background-color: blue;
    color: darkblue;
}
.acti {
    filter: none;
    color: white;
}
.title-red {
    border-bottom: solid red 3px;
    
    width: max-content;
}
.blackopa {
    background-color: rgba(0,0,0,0.5)!important;
}

#etc {
    background-color: rgb(10,10,10);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    display: flex;
}

#etc2 {
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#syno {
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 5px #000000;
    min-height: 25%;
}

.iconcara {
    width: 90px;
    transform: rotate(-10deg);
}

.bg-orange {
    background-color: orange!important;
}

#return {
    position: absolute;
    display: flex;
    top: 100;
    right:0;
    z-index: 50;
    color: white;
    background-color: orange;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

#criti {
    background-color : darkorange;
    color: rgb(10,10,10);
}

#criti>h4 {
    margin-left: 3%;
    margin-top: 1%;
    color: black;
    font-weight: bold;
}
#criti>.card-body {
    background-color: orange;
    color: black;
    padding-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
}

spoil {
    filter: blur(5px);
    font-style: italic;
    transition: filter 0.2s;
}

spoil:hover {
    filter: blur(0);
}

@media only screen and (max-width: 600px) {
    .nophone {
        display: none;
    }
    #footer {
        display: flex;
    }
    .note {
        display:none;
    }
    .acti {
        display: inline;  
        width: 80vw;
    }
    #titleanime {
        font-size: 18px;
        width: 100vw;
    }
    #rightcontainer {
        padding-top: 30vh;
        padding-bottom: 10vh;
        height: max-content;
    }
    #leftcontainer {
        height: 100vh;
    }
    #etc {
        height: max-content;
    }
    #etc2 {
        width: 100%;
        
    }
    .note h2 {
        font-size: 20px;
    }
}