@font-face {
    font-family: Source;
    src: url(../font/SourceSansPro-Regular.ttf);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

a {
    text-decoration: none;
}

body {
    background-color: rgb(191, 255, 234);
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    font-family: Source;
    margin: 0px;
}

#global-container {
    width: 50vw;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-rows: 9% auto;
    position: relative;
}

#phone-bg {
    position: absolute;
    top:0px;
    left: 0px;
    background-image: url(./images/phone-wp.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#phone-header {
    background-color: rgba(0,0,0,0.8);
    padding: 1em 1em;
    font-weight: bold;
    font-size: 1.3rem;
    max-height: max-content;
    color: white;
    backdrop-filter: blur(5px);
}

#phone-header-infos {
    display: flex;
    font-size: 0.8em;
}

#phone-header-infos>* {
    margin-top: auto;
    margin-bottom: auto;
}

#phone-header-infos .flex {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

#messages {
    overflow: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.text-muted {
    color: gray;
}

.message:first-child {
    margin-top: auto;
}

.message {
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.message-body {
    background-color: rgba(255, 255, 255, 0.6);
    border: solid white 5px;
    border-radius: 5px;
    padding: 0.5em 1em;
    max-width: 65%;
    margin: 0px;
    margin-left: 1em;
    line-height: 100%;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.reply {
    margin-left: auto;
    max-width: 65%;
}

.reply>.message-body {
    max-width: max-content;
}

.face {
    height: 4em;
    margin-top: auto;
}

.questions-list {
    margin-left: auto;
    width: 65%;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1em;
    height: max-content;
    opacity: 0;
    transition: opacity 0.2s;
}

.questions-list h3 {
    margin: 0px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: white;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.questions-list h3:hover {
    background-color: rgb(200,200,200);
}

.already h3 {
    background-color: rgb(30,30,30);
    color: gray;
}

.already h3:hover {
    background-color: rgb(30,30,30);
}

@media (min-width: 600px) {
    #global-container {
        border: solid 15px black;
        border-radius: 15px;
    }
}

@media (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    #global-container {
        width: 100vw;
        height: 100vh;
        margin: auto;
    }
    .questions-list {
        width: 80%;
    }
}