#nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  height: 100%;
  border-right: solid 1px rgba(255,255,255,0.2);
  width: 15em;
  flex-direction: column;
}

#nav-bar-top {
  margin: 0em 1em;
}

#nav-bar-profile {
  display: flex;
  align-items: center;
  padding: 1em 0em;
}

#nav-bar-profile > img {
  height: 38px;
  width: 38px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5em;
}

#hover-profile {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

#hover-profile:hover {
  display: initial;
}

#nav-bar-profile:hover>#hover-profile {
  display: initial;
}

#nav-bar-middle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar-item {
  padding: 0.5em 0em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-bar-item-icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}

.nav-bar-item-icon > svg {
  width: 1.5em;
  height: 1.5em;
}