/* #########################
           VARIABLES
   ######################### */

:root {
    --main-color: #CD113B;
}

/* #########################
            GLOBAL
   ######################### */

html {
    font-size: 16px;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.global-container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

/* #########################
          BACKGROUNDS
   ######################### */

.bg-black {
    background-color: black;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

/* #########################
             TEXT
   ######################### */

.text-small {
    font-size: 0.8rem;
}

.text-medium {
    font-size: 1.2rem;
}

.text-big {
    font-size: 1.6rem;
}

.text-big-big {
    font-size: 2rem;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-main-color {
    color: var(--main-color);
}

.text-strong {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.line-100 {
    line-height: 100%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.title::before {
    content: '• ';
    color: var(--main-color);
}

.button-title {
    border-radius: 100px;
    padding: 0.6rem 2rem;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: block;
    width: max-content;
    height: max-content;
    text-decoration: none;
    user-select: none;
}

.subtitle {
    font-size: 1.4rem;
}

.framed-title {
    border: solid var(--main-color) 5px;
    width: max-content;
    border-radius: 15px;
    font-weight: bold;
    padding-right: 1rem;
    font-size: 2rem;
}

.framed-title>span {
    color: white;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 15px;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.quote {
    padding: 1rem;
    margin-left: 1rem;
    border-left: solid 5px var(--main-color);
}

.quote-white {
    background-color: rgba(0, 0, 0, 0.1);
}

.quote-black {
    background-color: rgba(255,255,255,0.1);
}


/* #########################
            INPUTS
   ######################### */

.input-with-label {
    display: flex;
}

.input-with-label>label {
    background-color: var(--main-color);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
}

.input-color>label {
    background-color: var(--color);
}

.input-with-label>input {
    border: solid 1px var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-color>input {
    border: solid 1px var(--color);
}

.input-with-label>input:focus {
    outline: none;
}

.input-with-label>input::placeholder {
    font-style: italic;
}

.checkbox-with-label {
    display: flex;
}
.checkbox-with-label>input {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-with-label>input:hover {
    background-color: #ddd;
}


.checkbox-with-label>input:checked {
    background-color: white;
    border: solid 7px var(--main-color);
}

.checkbox-with-label>label {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
}

/* #########################
            BUTTONS
   ######################### */

.badge {
    background-color: var(--main-color);
    padding: 0.3rem;
    border-radius: 5px;
    line-height: 100%;

}

/* #########################
            BUTTONS
   ######################### */

.button {
    border-radius: 100px;
    padding: 0.6rem 2rem;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: block;
    width: max-content;
    height: max-content;
    text-decoration: none;
    user-select: none;
    transition: filter 0.2s;
    cursor: pointer;
}

.button-color {
    background-color: var(--color);
}

.button:hover {
    filter: brightness(80%);
}


/* #########################
             CARDS
   ######################### */

.card-deck {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    min-width: 5rem;
    min-height: 5rem;
}

.card-horizontal {
    width: max-content;
    max-width: 30rem;
    height: max-content;
}

.card-vertical {
    width: max-content;
    max-width: 20rem;
    height: 20rem;
    max-height: 20rem;
}

.card-color {
    background-color: var(--color);
}

.card-img-in-bg {
    background: linear-gradient(var(--color1) , var(--color2) 60%) ,var(--bg-image) center center / cover no-repeat;
}

.card-code {
    background-color: #111;
    color: white;
    position: relative;
}

.card-code pre {
    overflow: auto;
}

.card-code-label {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--main-color);
    padding: 0.2rem 1rem;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: bold;
}

/* #########################
            IMAGES
   ######################### */

.img-with-desc {
    border-radius: 5px;
    position: relative;
    display: flex;
}

.img-with-desc>img {
    border-radius: 5px;
    max-width: 100%;
}

.img-desc {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 1rem;

    display: block;
    margin-top: auto;
    height: max-content;
    background-color: var(--main-color);
    color:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* #########################
            NAVBAR
   ######################### */

.navbar {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.navbar>* {
    background-color: #ddd;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    transition: background-color 0.1s;
}

.navbar>*:hover {
    background-color: #ccc;
}

.navbar-active {
    background-color: var(--main-color);
    color: white;
}

.navbar-active:hover {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--main-color);
}

/* #########################
            HEADER
   ######################### */

.header {
    position: fixed;
    background-color: white;
    border-bottom: solid 5px var(--main-color);
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 2rem;
    display: flex;
    z-index: 10;
}

.header-content {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


/* #########################
            SPACES
   ######################### */

.space {
    height: 2rem;
    width: 100%;
    display: block;
}


/* #########################
            MARGINS
   ######################### */

.mb, .my, .m {
    margin-bottom: 1rem;
}

.mb-small, .my-small, .m-small {
    margin-bottom: 0.5rem;
}

.mb-big, .my-big, .m-big {
    margin-bottom: 2rem;
}

.mb-auto, .my-auto, .m-auto {
    margin-bottom: auto;
}

.mt, .my, .m {
    margin-top: 1rem;
}

.mt-small, .my-small, .m-small {
    margin-top: 0.5rem;
}

.mt-big, .my-big, .m-big {
    margin-top: 2rem;
}

.mt-auto, .my-auto, .m-auto {
    margin-top: auto;
}

.ml, .mx, .m {
    margin-left: 1rem;
}

.ml-small, .mx-small, .m-small {
    margin-left: 0.5rem
}

.ml-big, .mx-big, .m-big {
    margin-left: 2rem;
}

.ml-auto, .mx-auto, .m-auto {
    margin-left: auto;
}

.mr, .mx, .m {
    margin-right: 1rem;
}

.mr-small, .mx-small, .m-small {
    margin-right: 0.5rem
}

.mr-big, .mx-big, .m-big {
    margin-right: 2rem;
}

.mr-auto, .mx-auto, .m-auto {
    margin-right: auto;
}


/* #########################
            PADDINGS
   ######################### */

.pb, .py, .p {
    padding-bottom: 1rem;
}

.pb-small, .py-small, .p-small{
    padding-bottom: 0.5rem;
}

.pb-big, .py-big, .p-big {
    padding-bottom: 2rem;
}

.pt, .py, .p {
    padding-top: 1rem;
}

.pt-small, .py-small, .p-small {
    padding-top: 0.5rem;
}

.pt-big, .py-big, .p-big {
    padding-top: 2rem;
}

.pl, .px, .p {
    padding-left: 1rem;
}

.pl-small, .px-small, .p-small {
    padding-left: 0.5rem
}

.pl-big, .px-big, .p-big {
    padding-left: 2rem;
}

.pr, .px, .p {
    padding-right: 1rem;
}

.pr-small, .px-small, .p-small {
    padding-right: 0.5rem
}

.pr-big, .px-big, .p-big {
    padding-right: 2rem;
}

/* #########################
            DISPLAYS
   ######################### */

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

/* #########################
            MOBILE
   ######################### */

@media (max-width: 600px) {
    .global-container, .header-content {
        width: 95vw;
    }

    .quote {
        margin-left: 0px;
    }

    .img-desc {
        max-height: 20%;
        padding: 0.5rem 1rem;
        overflow-y: auto;
    }
}