#stats-cont {
    display: flex;
    color: white;
    flex-direction: column;
}

.stats-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stats-cell {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    flex: 1;
    max-width: calc(100% - 4em);
}

.stats-body {
    font-weight: bold;
    font-size: 2em;
}

.stats-label {
    color: lightgray;
}

#posts-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#posts-bar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--value);
    color: white;
}

#posts-bar .posts-bar-number {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

#posts-bar #pureposts-bar .posts-bar-number {
    background-color: #355c7d;
}

#posts-bar #replies-bar .posts-bar-number {
    background-color: #ee9b00;
}

#posts-bar #reposts-bar .posts-bar-number {
    background-color: #bb3e03;
}

.stats-legend {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.stats-legend>span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-dot {
    width: 0.8em;
    height: 0.8em;
    background-color: var(--value);
    border-radius: 100%;
    margin-right: 0.5em;
}

.top-replies-row {
    color: white;
    display: flex;
    position: relative;
    margin: 0.2rem 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.top-replies-row .bar-bg {
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    left: 0px;
    top: 0px;
    width: var(--value);
    height: 100%;
    z-index: 0;
    border-radius: var(--border-radius);
}

.top-replies-rank {
    width: 2em;
    display: inline-block;
}

.top-replies-handle {
    margin-left: 1em;
}


#month-graph .month-label {
    color: lightgray;
    background: var(--bg-color);
}

#month-graph {
    max-width: 600px;
}


#graph-zone {
    display: flex;
    flex-direction: row;
    height: 10rem;
    overflow-x: auto;
}

.month-bar-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    margin-right: 1em;
}

.month-bar-cont:last-child {
    margin-right: 0em;
}

.month-bar {
    background-color: var(--accent-color);
    color: var(--text-accent-color);
    height: var(--value);
    text-align: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}