html {
    height: 100%;
}

body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #0b1622;
    margin: 0px;
    width: 100vw;
    height: 100%;
    color: white;
}

.button {
  cursor: pointer;
  padding: 0.5em 1em;
  background: #152232;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: solid 1px rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.button:hover {
  background: #213855;
}

.button.green {
  background: green;
}

.button.green:hover {
  background: rgb(74, 139, 74);
}

.button.red {
  background: red;
}

.button.red:hover {
  background: rgb(177, 73, 73);
}

#app-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#page-cont {
  width: calc(100% - 15em - 2em);
  position: fixed;
  top: 0em;
  left: 15em;
  height: calc(100% - 2em);
  padding: 1em;
}

#popup-cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 30vw;
  min-width: 300px;
  background: #0b1622;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.modal-subtitle {
  font-weight: bold;
  margin-bottom: 0.25em;
}