:root {
    --main-color: #1996f2;
}

@font-face {
    font-family: Tenorite;
    src: url("./tenorite.ttf");
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Tenorite;
    display: flex;
}

p, h1, h2, h3, h4, h5 {
    margin: 0px;
    display: inline-block;
    height: 1em;
}

svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    display: inline-block;
    vertical-align: -0.125em;
}

/***********************
******** GLOBAL ********
************************/

#global-cont {
    width: 99%;
    height: 99%;
    margin: auto;
    display: grid;
    grid-template-columns: 22% 56% 22%;
}

.text-strong {
    font-weight: bold;
}

.text-big {
    font-size: 2rem;
}

.button {
    padding: 7px 15px;
    border-radius: 10px;
    height: 1em;
    display: flex;
    width: max-content;
    color: white;
    background-color: var(--main-color);
}

.button>* {
    margin-bottom: auto;
    margin-top: auto;
}

.joueur-cont {
    width: 10em;
    height: 8rem;
    border: solid 5px var(--color);
    border-radius: 25px;
    display: flex;
    position: relative;
}

.joueur-name-cont {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    margin-top: -1em;
}
.joueur-position {
   width: max-content;
   background-color: var(--color);
   margin-left: auto;
   margin-right: auto;
   color: white;
   font-size: 1.5em;
   padding: 2px 5px;
   border-radius: 10px;
   text-overflow: ellipsis;
   max-width: 50%;
   overflow-x: hidden;
   overflow-y: hidden;
}

.joueur-name {
    color: var(--color);
    position: absolute;
    bottom: 2px;
    left: 0px;
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    max-width: 90%;
    margin-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.joueur-score {
    margin: auto;
    font-size: 3em;
    color: var(--color);
}

.jeton-cont {
    position: relative;
    display: flex;
    width: 1em;
    height: 1em;
}

.jeton-cont>svg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.jeton-cont>p {
    margin: auto;
    font-size: 0.8em;
}

.joueur-jeton {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 2.5em;
    color: var(--color);
}

/***********************
********** IDs *********
************************/

#room-info {
    display: flex;
    flex-direction: column;
}

#room-info-title {
    font-size: 48px;
}

#room-info-players {
    font-size: 32px;
}

#main-columns {
    display: flex;
    flex-direction: column;
}

#joueurs-cont {
    margin-top: 2rem;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#joueurs-cont > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#table {
    background-image: url("./images/table.png");
    width: 100%;
    padding-top: 54%; 
    background-repeat: no-repeat;
    background-size: cover;
}