@font-face {
    font-family: "Onest";
    src: url(./fonts/Onest.ttf);
}

:root {
    --border-radius : 3px;
    --app-width : 50%;
}


html {
    height: 100%;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100%;
    background-color: #101010;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Onest";
    max-width: 100%;
}

a {
    text-decoration: none;
}

.mt {
    margin-top: 1rem;
}

.img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 130vh;
    width: 130vw;
    top: -15vw;
    left: -15vh;
    z-index: -2;
    filter: brightness(30%) saturate(500%) blur(100px);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}


.flex-center {
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    padding: 0.5em;
    border-radius: var(--border-radius);
    background-color: white;
    color: black;
    border: solid 1px black;
}

.button-yes {
    background-color: green;
    color: white;
    border: solid 1px rgb(1, 95, 1);
}

.button-no {
    background-color: red;
    color: white;
    border: solid 1px rgb(175, 0, 0);
}

.my-auto {
    margin: auto 0;
}

.display-name-emoji {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}

#alert-cont {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

#alert-cont .alert-body {
    background-color: red;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}


#app-cont {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.profile-picture {
    border-radius: 5%;
}

#profile-card .profile-picture {
    height: 10rem;
    width: 10rem;
}

#profile-card {
    display: flex;
    color: white;
    background-color: rgba(255,255,255,.3);
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: max-content;
    backdrop-filter: saturate(300%);
    width: 100%;
    justify-content: center;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: var(--app-width);
}

.profile-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-infos>div {
    width: max-content;
}

.profile-infos .profile-name {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.profile-numbers {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.profile-numbers>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.profile-numbers>*>span:first-child {
    font-weight: bold;
}

.instance-name {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.instance-name>img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}

#fixed-instance {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    color: black;
    padding: 0.2rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#stats-cont {
    display: flex;
    flex-direction: column;
    width: var(--app-width);
    margin-top: 2rem;
}

#stats-cont>div {
    margin-bottom: 1em;
}

#stats-cont>div:last-child {
    margin-bottom: 0em;
}

#repartition-posts {
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
}

#posts-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#posts-bar>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--value);
    color: black;
}

#posts-bar .posts-bar-number {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

#posts-bar #pureposts-bar .posts-bar-number {
    background-color: #355c7d;
}

#posts-bar #replies-bar .posts-bar-number {
    background-color: #ee9b00;
}

#posts-bar #reposts-bar .posts-bar-number {
    background-color: #bb3e03;
}

.big-number {
    font-size: 2rem;
    font-weight: bold;
}

#alt-medias-posts {
    background-color: white;
    color: black;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#alt-medias-posts .description {
    text-align: center;
}

#medias-icon {
    font-size: 0.8rem;
    display: flex;
}

#medias-icon>svg {
    height: 0.9rem;
    margin-right: 0.2rem;
}


#month-graph {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
}

#month-graph .month-label {
    color: black;
}

#month-graph #month-graph-title {
    color: black;
    font-size: 0.8rem;
}

#graph-zone {
    display: flex;
    flex-direction: row;
    height: 10rem;
    overflow-x: auto;
}

.month-bar-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    margin-right: 1em;
}

.month-bar-cont:last-child {
    margin-right: 0em;
}

.month-bar {
    background-color: #7c162e;
    color: white;
    height: var(--value);
    text-align: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.row-card {
    display: flex;
}

.row-card>div {
    margin-right: 1em;
}

.row-card>div:last-child {
    margin-right: 0em;
}

#apps-used-cont {
    display: flex;
    border-radius: var(--border-radius);
    width: 100%;
    position: relative;
    background-color: #5c162e;
    color: white;
    border: solid 1px #9c162e;
}

#apps-used-cont #apps-used-title {
    position: absolute;
    top:0px;
    left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    font-size: 0.8rem;
    color: white;
    margin-top: 0.5rem;
}

#apps-used-cont #apps-used-title>svg {
    margin-right: 0.2rem;
}

#apps-used-cont>.app-used {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

#apps-used-cont .app-nb-posts {
    font-size: 1.2rem;
}

#apps-used-cont .app-name {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

#apps-used-cont .app-used:nth-of-type(2) {
    background-color: #9c162e;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

#apps-used-cont .app-used:nth-of-type(3) {
    background-color: #7c162e;
}

#apps-used-cont .app-used:nth-of-type(4) {
    background-color: #5c162e;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#save-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#embed-cont {
    width: var(--app-width);
    margin-top: 1rem;
    color: black;
}

#embed-cont>div {
    justify-content: space-around;
}

#embed-cont>div iframe {
    width: 100%;
    height: 30rem;
    border-radius: var(--border-radius);
}

.embed-title {
    font-size: 0.8rem;
    padding: 1rem;
}

.embed-cell {
    padding: 1rem;
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
}

.embed-cell:first-child {
    margin-right: 0.5rem;
}

.embed-cell:last-child {
    margin-left: 0.5rem;
}

.embed-cell-title {
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.embed-cell-title svg {
    margin-right: 0.5rem;
}

#top-replies {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
}

#top-replies>.title {
    font-size: 0.8rem;
}

.top-replies-row {
    color: black;
    display: flex;
    position: relative;
    margin: 0.2rem 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.top-replies-row .pfp {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius);
    margin: 0px 1rem;
}

.top-replies-row .bar-bg {
    background-color: #ddd;
    position: absolute;
    left: 0px;
    top: 0px;
    width: var(--value);
    height: 100%;
    z-index: 0;
    border-radius: var(--border-radius);
}

.top-replies-row>span {
    z-index: 1;
    display: flex;
    align-items: center;
}